
  h1 {
    text-align: center;
  }
  
  .navbar {
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  #park-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  
